<div class="footer-wrapper">

    <footer id="footer" class="footer bg-mustang inner">

        <div class="footer-inner container m-auto md:flex justify-between items-center px-6 py-10">

            <p class="text-white text-sm pb-8 md:pb-0">Una memoria de los viajes y paseos con el Jimny. Todas las fotos y textos tienen una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" class="text-natural2 hover:text-natural2">Licencia Creative Commons Atribución 4.0 Internacional</a> <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"></p>

            {% include 'components/social-icons.njk' %}

        </div>
        <div class="footer-inner container m-auto px-6 py-3">
        <p class="text-white text-sm pb-8 md:pb-0 ">© 2020 basado en Skeleventy, una plantilla para armar sitios con <a href="https://www.11ty.io/" class="text-white hover:text-natural2">Eleventy.</a></p></div>
    </footer>

</div>
