<header id="header" class="header bg-mustang flex flex-col md:flex-col md:justify-between items-center p-4 md:p-6 inner shadow-xl">

	{% include "components/logo.njk" %}
	{% include 'components/nav.njk' %}

</header>
