<a class="company-logo-link block text-white font-bold text-2xl md:text-3xl hover:text-pink-500 font-Jaywalker-Regular" href="/" title="Skeleventy home"><img src="/images/logo/logo_blanco_curvas.svg" alt="Jimny del Sur"/></a>
