<nav id="nav" class="nav hidden md:flex">

    <ul class="menu flex flex-col md:flex-row items-center list-reset text-base font-Jaywalker-Regular">

        {% for item in navigation.main %}

        <li class="level-1 mb-4 md:mr-4 md:mb-0">

            <a href="{{ item.url | safe }}" class="link font-bold text-white hover:text-natural active:text-natural2 {% if page.url == item.url %}active text-natural2{% endif %}
            "{% if page.url == item.url %} aria-current="page"{% endif %}>{{ item.label }}</a>

        </li>

        {% endfor %}
    </ul>

</nav>
