
//==========  Links ==========//

a {
    @apply text-teal-800 no-underline transition-all duration-300 ease-out;

    &:not([class]) {
        border-bottom-width: 2px;
        border-color: #2d758c;

        &:hover {
            @apply text-mustang;
        }
    }
}


