---
layout: default
permalink: 404.html
hidden: true
meta_title: 404
meta_description: 404 page description
body_class: 404
title: ¡Nada por aquí!
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none bg-gray-100 shadow-xl"  tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        <div class="content">
           <p>Algo habré hecho mal, y la página que estás buscando, no existe!</p>
           <p><a href="/">Vamos a empezar de nuevo</a></p>
        </div>

    </article>

</main>
