---
layout: default
meta_title: Home
meta_description: Skeleventy is a beautiful, powerful skeleton boilerplate built with Eleventy and TailwindCSS
body_class: home
title: Welcome to Skeleventy!
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none bg-gray-100 shadow-xl" tabindex="-1">

    <section id="container-centre" class="column centre flex-1 text-mustang" aria-label="Summary and features">

        <h1 class="page-title">{{ title }}</h1>

        <div class="content">

            <p>A skeleton boilerplate built with <a href="https://www.11ty.dev/docs/">Eleventy</a> and <a href="https://tailwindcss.com">TailwindCSS</a>.</p>

            <h2 class="text-3xl">Features</h2>

            <ul class="mb-12 list-disc pl-4">
                <li>Build sites faster with the power of Eleventy, TailwindCSS and SCSS</li>
                <li><a href="https://laravel-mix.com/docs/5.0/basic-example">Laravel Mix</a> (webpack) to watch, concatenate and compile styles and scripts</li>
                <li><a href="https://www.purgecss.com/">Purgecss</a> to remove any unused CSS</li>
                <li>HTML minifier</li>
                <li>ES6 support with Babel</li>
                <li>SEO friendly pages (including Open Graph and Twitter meta)</li>
                <li>Image lazyloading</li>
                <li>A simple blog with categories and featured images</li>
            </ul>

            <h2 class="text-3xl">Want to give it a spin?</h2>

            <p>Check out the <a href="https://github.com/josephdyer/skeleventy">full documentation</a> on how to get started.</p>

        </div>

    </section>

</main>


