---
layout: default
meta_title: "Jimny del Sur"
meta_description: "Los paseos de un Jimny por Bolivia"
body_class: blog
title: Jimny del Sur
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none bg-gray-100 shadow-xl" tabindex="-1">

    <section id="container-centre" class="column centre flex-1" aria-label="Blogs">

        <div class="posts grid grid-cols-1 lg:grid-cols-3">

            {% for post in collections.blog %}

                <article class="article-card mb-8 mx-4 flex-1 bg-white overflow-hidden rounded-lg shadow-lg">

                    {# featured post image & category #}
                    {% if post.data.featured_image %}

                        <a class="featured-image-link block relative overflow-hidden" href="{{ post.url }}">

                            <figure>

                                {# the 'data-lazy' attribute will lazy load your images in #}
                                {# the js uses the new Intersection Observer API, see ../modules/lazyload #}
                                {# it's not fully supported in some browsers, so proceed with caution! #}
                                {# the srcset attribute would be a nice addtion here as well...in a future update maybe :) #}
                                <img data-lazy="{{ post.data.featured_image }}" class="block" alt="{{ post.data.image_caption }}">

                            </figure>

                        </a>

                    {% endif %}

                    <div class="p-8">
                        <div class="text-sm text-gray-600 md:flex mb-3 justify-end">

                           <!-- <p class="author">By {{ site.author.name }}</p> -->

                            <time datetime="{{ post.date }}">
                                {{ post.date | dateDisplay }}
                            </time>

                        </div>
                        {# category link #}
                            <ul class="relative bottom-0 left-0 flex pb-2 z-10">

                                {% for item in post.data.tags %}

                                    {%- if item != "blog" -%}

                                        <li class="mr-2">

                                            <span class="inline-block bg-avocado px-4 py-2 text-white text-xs font-bold rounded capitalize">{{ item | capitalize }}</span>

                                        </li>

                                    {%- endif -%}

                                {% endfor %}

                            </ul>

                        <h2 class="text-2xl mb-4 font-Jaywalker-Regular"><a class="block text-mustang hover:text-avocado" href="{{ post.url }}">{{ post.data.title }}</a></h2>

                        <p class="text-gray-800 text-base">{{ post.data.excerpt | safe }}</p>

                    </div>

                </article>

            {% endfor %}

        </div>

    </section>

</main>


