---
layout: default
meta_title: Jimny
meta_description: About page description
body_class: about
title: Jimny
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none bg-gray-100 shadow-xl" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        <div class="content">
           <p>En construcción</p>
            
        </div>

    </article>

</main>
