---
layout: default
---

{# a post layout #}
<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none bg-gray-100 shadow-xl" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <div class="mb-12 md:mb-20">

            <header>
                <h1 class="page-title text-2xl md:text-center md:text-5xl lg:text-6xl font-Jaywalker-Regular">{{ title }}</h1>
            </header>

            <div class="text-sm md:text-base text-gray-600 flex justify-center">

               <!-- <p class="author">By {{ site.author.name }}</p> -->

                <p class="px-1">—</p>

                <time datetime="{{ date }}">
                    {{ date | dateDisplay }}
                </time>

                {% if tags %}

                    {# this will create a comma for multiple category links #}
                    {% set comma = joiner() %}

                    <p class="px-2">—</p>

                    <p class="category">Categorías

                        {% for item in tags %}

                            {%- if item != "blog" -%}

                                <a href="/category/{{ item }}">{{ comma() }} {{ item | capitalize }}</a>

                            {%- endif -%}

                        {% endfor %}

                    </p>

                {% endif %}

            </div>

            {# featured post image #}
            {% if featured_image %}

                <figure class="mt-10 md:mt-20">

                    <img data-lazy="{{ featured_image }}" alt="{{ image_caption }}">

                    {% if image_caption %}

                        <figcaption class="text-center text-sm italic text-gray-600 mt-4">{{ image_caption }}</figcaption>

                    {% endif %}

                </figure>

            {% endif %}

        </div>

        <div class="content post md:px-16">

            {{ content | safe }}

            {# category links list #}
            {% if tags %}

                <ul class="flex pt-4">

                    {% for item in tags %}

                        {%- if item != "blog" -%}

                            <li class="mr-2">
                                <a class="inline-block px-3 py-2 text-white bg-purple-900 text-xs font-semibold rounded hover:text-white hover:bg-pink-500" href="/category/{{ item }}">{{ item | capitalize }}</a>
                            </li>

                        {%- endif -%}

                    {% endfor %}

                </ul>

            {% endif %}

        </div>

        <div class="mt-16 md:px-16">

            <div class="flex justify-between mt-16 border-t border-gray-200 pt-12">
                {% if prevPost %}<p class="text-gray-700 text-sm"><span>Previous:</span> <a href="{{ prevPost.url }}">{{ prevPost.data.title }}</a></p>{% endif %}
                {% if nextPost %}<p class="text-gray-700 text-sm"><span>Next:</span> <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></p>{% endif %}
            </div>
        </div>

    </article>

</main>
